<script>
import axios from "axios";

export default {
  data() {
    return {
      tasks: [],
      selectedTask: null,
      showModal: false,
      showEditModal: false,
      editTask: {
        type: "",
        key_id: "",
        title: "",
        priority: "",
        assignee: "",
        created_by: "",
        status: "",
        resolution: "",
        modified_at: "",
        due_date: "",
        description: "",
      },
    };
  },
  methods: {
    formatTooltip(val) {
      return val / 10;
    },
    getData(task) {
      this.selectedTask = task;
      this.showModal = true;
    },
    closeModal() {
      this.showModal = false;
      this.selectedTask = null;
    },
    openEditModal() {
      this.editTask = { ...this.selectedTask }; // Shallow copy to edit
      this.showEditModal = true;
    },
    closeEditModal() {
      this.showEditModal = false;
    },
    getStatus(statusCode) {
      const statusMap = {
        1: "Open",
        2: "In Progress",
        3: "Closed",
        // Add other statuses as needed
      };
      return statusMap[statusCode] || "Unknown";
    },
    formatDate(dateString) {
      const options = { year: "numeric", month: "short", day: "numeric" };
      return new Date(dateString).toLocaleDateString(undefined, options);
    },

    updateTask() {
      axios
        .put(
          `https://tracker.stockants.in/task/${this.editTask.id}`,
          this.editTask
        )
        .then((response) => {
          // Update the tasks array with the updated task
          const index = this.tasks.findIndex(
            (task) => task.id === this.editTask.id
          );
          if (index !== -1) {
            this.tasks.splice(index, 1, response.data);
          }
          this.closeEditModal();
          this.closeModal();
        })
        .catch((error) => {
          // Handle error
          if (error.response) {
            console.error("Server Error:", error.response.data);
          } else if (error.request) {
            console.error("No Response:", error.request);
          } else {
            console.error("Error:", error.message);
          }
        });
    },
  },
  created() {
    axios
      .get("https://tracker.stockants.in/task")
      .then((response) => {
        const copiedObject = Object.assign({}, response.data);
        this.tasks = copiedObject; // Assuming response.data is an array of tasks
      })
      .catch((error) => {
        // Handle error
        if (error.response) {
          console.error("Server Error:", error.response.data);
        } else if (error.request) {
          console.error("No Response:", error.request);
        } else {
          console.error("Error:", error.message);
        }
      });
  },
};
</script>

<template>
  <div class="table-class">
    <table class="actual-table">
      <thead>
        <tr class="table-heading">
          <th style="width: 50px">Type</th>
          <th style="width: 100px">Key</th>
          <th style="width: 290px">Title</th>
          <th style="width: 80px">P</th>
          <th style="width: 100px">Assignee</th>
          <th style="width: 100px">Reporter</th>
          <th style="width: 90px">Status</th>
          <th style="width: 90px">Resolution</th>
          <th style="width: 90px">Created</th>
          <th style="width: 90px">Due Date</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="task in tasks" :key="task.id" class="table-content">
          <td>{{ task.type }}</td>
          <td @click="getData(task)" style="cursor: pointer">
            {{ task.key_id }}
          </td>
          <td>{{ task.title }}</td>
          <td>{{ task.priority }}</td>
          <td>
            <img
              v-if="task.assignee"
              :src="`https://ui-avatars.com/api/?rounded=true&name=${task.assignee.title}&background=44546f&color=fff&size=32`"
              alt=""
            />{{ task.assignee ? task.assignee.title : "Admin" }}
          </td>
          <td>
            <img
              :src="`https://ui-avatars.com/api/?rounded=true&name=${task.created_by.title}&background=44546f&color=fff&size=32`"
              alt=""
            />{{ task.created_by.title }}
          </td>
          <td>{{ getStatus(task.status) }}</td>
          <td>{{ task.resolution || "Unresolved" }}</td>
          <td>{{ formatDate(task.created_at) }}</td>
          <td>{{ task.due_date ? formatDate(task.due_date) : "N/A" }}</td>
        </tr>
      </tbody>
    </table>

    <!-- View Task Modal -->
    <div v-if="showModal" class="modal-overlay">
      <div class="modal-content">
        <span class="close-button" @click="closeModal"
          ><i class="fa-solid fa-xmark"></i
        ></span>
        <button class="edit-button" @click="openEditModal">
          <i class="fa-solid fa-pen"></i>
        </button>
        <h3 class="task-heading">Task Details</h3>
        <p><strong>Type:</strong> {{ selectedTask.type }}</p>
        <p><strong>Key:</strong> {{ selectedTask.key_id }}</p>
        <p><strong>Title:</strong> {{ selectedTask.title }}</p>
        <p><strong>Priority:</strong> {{ selectedTask.priority }}</p>
        <p>
          <strong>Assignee:</strong>
          {{
            selectedTask.assignee ? selectedTask.assignee.title : "Unassigned"
          }}
        </p>
        <p><strong>Reporter:</strong> {{ selectedTask.created_by.title }}</p>
        <p><strong>Status:</strong> {{ getStatus(selectedTask.status) }}</p>
        <p>
          <strong>Resolution:</strong>
          {{ selectedTask.resolution || "Unresolved" }}
        </p>
        <p>
          <strong>Created:</strong> {{ formatDate(selectedTask.created_at) }}
        </p>
        <p>
          <strong>Due Date:</strong>
          {{
            selectedTask.due_date ? formatDate(selectedTask.due_date) : "N/A"
          }}
        </p>
        <p><strong>Description:</strong></p>
        <div v-html="selectedTask.description"></div>
      </div>
    </div>

    <!-- Edit Task Modal -->
    <div v-if="showEditModal" class="modal-overlay">
      <div class="modal-content">
        <span class="close-button" @click="closeEditModal"
          ><i class="fa-solid fa-xmark"></i
        ></span>
        <h3 class="task-heading">Edit Task</h3>
        <form class="edit-form" @submit.prevent="updateTask">
          <el-form
            label-position="top"
            ref="form"
            :model="form"
            label-width="110px"
          >
            <!-- <el-form-item for="type" label="Activity name">
              <el-input id="type" v-model="editTask.type"></el-input>
            </el-form-item> -->

            <el-form-item label="Activity name">
              <el-select v-model="editTask.type" placeholder="Activity Name">
                <el-option label="EPIC" value="EPIC"></el-option>
                <el-option label="STORY" value="STORY"></el-option>
                <el-option label="BHU" value="BHU"></el-option>
              </el-select>
            </el-form-item>

            <el-form-item for="title" label="Title">
              <el-input id="title" v-model="editTask.title"></el-input>
            </el-form-item>

            <el-form-item for="description" label="Description">
              <vue-editor
                id="description"
                v-model="editTask.description"
              ></vue-editor>
            </el-form-item>

            <el-form-item for="priority" label="Priority">
              <el-select
                v-model="editTask.priority"
                placeholder="Priority"
                id="priority"
              >
                <el-option label="URGENT" value="URGENT"></el-option>
                <el-option label="HIGH" value="HIGH"></el-option>
                <el-option label="MEDIUM" value="MEDIUM"></el-option>
                <el-option label="LOW" value="LOW"></el-option>
              </el-select>
            </el-form-item>

            <el-form-item for="assignee" label="Assignee">
              <el-select
                v-model="editTask.assignee"
                placeholder="Assignee"
                id="assignee"
              >
                <el-option label="Sumit" value="Sumit"></el-option>
                <el-option label="Mayur" value="Mayur"></el-option>
                <el-option label="Snehal" value="Snehal"></el-option>
                <el-option label="Chetan" value="Chetan"></el-option>
                <el-option label="Bhushan" value="Bhushan"></el-option>
                <el-option label="Yadnesh" value="Yadnesh"></el-option>
                <el-option label="Krisha" value="Krisha"></el-option>
              </el-select>
            </el-form-item>

            <el-form-item for="created_by" label="Reporter">
              <el-select
                v-model="editTask.created_by"
                placeholder="Reporter"
                id="created_by"
              >
                <el-option label="Sumit" value="Sumit"></el-option>
                <el-option label="Mayur" value="Mayur"></el-option>
                <el-option label="Snehal" value="Snehal"></el-option>
                <el-option label="Chetan" value="Chetan"></el-option>
                <el-option label="Bhushan" value="Bhushan"></el-option>
                <el-option label="Yadnesh" value="Yadnesh"></el-option>
                <el-option label="Krisha" value="Krisha"></el-option>
              </el-select>
            </el-form-item>

            <div class="block">
              <span class="demonstration">Status</span>
              <el-slider
                v-model="editTask.status"
                :format-tooltip="formatTooltip"
                :step="10"
              >
              </el-slider>
            </div>

            <!-- <label for="status">Status:</label>
              <input id="status" v-model="editTask.status" type="text" /> -->

            <el-form-item for="resolution" label="Resolution">
              <el-select
                v-model="editTask.resolution"
                placeholder="Resolution"
                id="resolution"
              >
                <el-option label="Unresolved" value="Unresolved"></el-option>
                <el-option label="Resolved" value="Resolved"></el-option>
              </el-select>
            </el-form-item>

            <el-form-item label="Modified">
              <el-date-picker
                type="date"
                placeholder="Pick a Date"
                v-model="editTask.modified_at"
                style="width: 50%"
              ></el-date-picker>
            </el-form-item>

            <el-form-item label="Due Date">
              <el-date-picker
                type="date"
                placeholder="Pick a Date"
                v-model="editTask.due_date"
                style="width: 50%"
              ></el-date-picker>
            </el-form-item>

            <button type="submit">
              <el-button type="primary">Update</el-button>
            </button>
          </el-form>
        </form>
      </div>
    </div>
  </div>
</template>

<style scoped>
table,
th,
td {
  padding: 0 0.3rem;
  white-space: nowrap;
}
table {
  width: 100%;
  border-collapse: collapse;
}

.table-class {
  margin-top: 2rem;

  overflow-y: hidden;
  box-sizing: border-box;
}

.table-heading {
  text-align: left;
  border-bottom: 1px solid;
}

.table-content {
  overflow: scroll;
}

.table-content > td {
  padding: 0.5rem 0.125rem;
  padding-left: 0.4rem;

  font-size: 14px;
}
img {
  display: inline;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  margin-right: 5px; /* Add some spacing between avatar and text */
}

.actual-table {
  border-collapse: collapse;
  table-layout: fixed;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 600px;
  text-align: left;
}
.close-button {
  float: right;
  font-size: 1.5em;
  cursor: pointer;
  padding-left: 0.3rem;
}

.task-heading {
  font-weight: 800;
  text-align: center;
  font-size: 18px;
}

.edit-button {
  float: right;
  font-size: 1rem;
  cursor: pointer;
  padding-left: 0.3rem;
  padding-top: 0.4rem;
  padding-right: 1.5rem;
}

.edit-form {
  height: 70vh;
  overflow: scroll;
  overflow-x: hidden;
  padding-right: 0.5rem;
}
</style>
