<template>
  <div class="wrap-container">
    <div class="show-hide">
      <span>
        <i
          v-if="!isVisible"
          @click="hideShow"
          class="fa-solid fa-angles-left fa-lg show-hide-icon"
        ></i>
        <i
          v-else
          @click="hideShow"
          class="fa-solid fa-angles-right fa-lg show-hide-icon"
        ></i>
      </span>
    </div>
    <div class="side-container" :class="{ hide: isVisible }">
      <SideBar />
    </div>

    <div class="main-content" :class="{ 'main-content-resize': !isVisible }">
      <div class="left-part">
        <div class="bread-crumb">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item :to="{ path: '/' }"
              >Projects</el-breadcrumb-item
            >
            <el-breadcrumb-item>
              <a href="/">NIMBUS Next Gen</a></el-breadcrumb-item
            >
            <el-breadcrumb-item> <a href="/">NNG-1001</a></el-breadcrumb-item>
          </el-breadcrumb>
        </div>

        <div class="ticket-title">
          <h2>Licence Management</h2>
        </div>
        <div class="btn-ticket">
          <el-button size="mini" type="info" plain
            ><i class="fa-solid fa-paperclip fa-lg paperclip-icon"></i>
            Attach</el-button
          >
          <el-button size="mini" type="info" plain
            ><i class="fa-solid fa-copy fa-lg"></i> Create subtask</el-button
          >
          <el-button size="mini" type="info" plain
            ><i class="fa-solid fa-link fa-lg"></i> Link Issue</el-button
          >
          <el-button size="mini" type="info" plain
            ><i class="fa-regular fa-square-check fa-lg"></i> Add
            Checklist</el-button
          >
        </div>

        <div class="discription">
          <p>Description :</p>
        </div>

        <div class="texteditor">
          <vue-editor v-model="content"></vue-editor>
        </div>

        <div class="btn-save-cancel">
          <el-button size="small" type="primary"><button @click="handleSavingContent">Save</button></el-button>
          <!-- Save</el-button> -->
          <el-button size="small" type="text">Cancel</el-button>
        </div>

        <div class="discription sub-task">
          <p>Subtasks</p>
          <el-progress
            style="width: 40rem"
            :percentage="30"
            :format="format"
          ></el-progress>

          <table class="table-class">
            <tr class="table-content">
              <td>Bug</td>
              <td>NNG-13088</td>
              <td class="task-title">POC for Streamlit integration</td>
              <td class="table-avtar">
                <img
                  src="https://ui-avatars.com/api/?rounded=true&name=SC&background=44546f&color=fff&size=24"
                  alt=""
                />
              </td>

              <td>GROOMED</td>
            </tr>
            <tr class="table-content">
              <td>Bug</td>
              <td>NNG-13088</td>
              <td class="task-title">POC for Streamlit integration</td>
              <td class="table-avtar">
                <img
                  src="https://ui-avatars.com/api/?rounded=true&name=SC&background=44546f&color=fff&size=24"
                  alt=""
                />
              </td>

              <td>GROOMED</td>
            </tr>
            <tr class="table-content">
              <td>Bug</td>
              <td>NNG-13088</td>
              <td class="task-title">
                POC for Streamlit sdfsdfsdfsdf integration
              </td>
              <td class="table-avtar">
                <img
                  src="https://ui-avatars.com/api/?rounded=true&name=SC&background=44546f&color=fff&size=24"
                  alt=""
                />
              </td>

              <td>GROOMED</td>
            </tr>
          </table>
        </div>

        <div class="activity">
          <p>Activity</p>

          <el-tabs v-model="activeName" @tab-click="handleClick">
            <el-tab-pane label="All" name="second">All</el-tab-pane>
            <el-tab-pane label="Comments" name="first">
              <div>
                <table class="table-class">
                  <tr class="comment-row">
                    <td class="image">
                      <img
                        src="https://ui-avatars.com/api/?rounded=true&name=Y&background=44546f&color=fff&size=32"
                        alt=""
                      />
                    </td>
                    <td>
                      <div class="texteditor"></div>

                      <div class="btn-save-cancel">
                        <el-button size="small" type="primary">Save</el-button>
                        <el-button size="small" type="text">Cancel</el-button>
                      </div>
                    </td>
                  </tr>
                </table>
              </div>
            </el-tab-pane>
            <el-tab-pane label="History" name="third">History</el-tab-pane>
            <el-tab-pane label="Work Log" name="fourth">Work Log</el-tab-pane>
            <el-tab-pane label="Checklist History" name="fifth"
              >Checklist History</el-tab-pane
            >
          </el-tabs>
        </div>
      </div>
      <div class="right-part">
        <div class="side-panel-icons">
          <div>
            <i
              class="fa-solid fa-bullhorn fa-rotate-by"
              style="--fa-rotate-angle: 330deg"
            ></i>
          </div>
          <div><i class="fa-solid fa-eye"></i></div>
          <div><i class="fa-solid fa-thumbs-up"></i></div>
          <div><i class="fa-solid fa-share-nodes"></i></div>
        </div>

        <div class="side-pannel-dropdown">
          <el-dropdown trigger="click">
            <el-button size="mini" type="primary">
              Task Status<i class="el-icon-arrow-down el-icon--right"></i>
            </el-button>
            <el-dropdown-menu slot="dropdown">
              <el-dropdown-item>Action 1</el-dropdown-item>
              <el-dropdown-item>Action 2</el-dropdown-item>
              <el-dropdown-item>Action 3</el-dropdown-item>
              <el-dropdown-item>Action 4</el-dropdown-item>
              <el-dropdown-item>Action 5</el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
          <el-select
            v-model="value"
            size="mini"
            type="primary"
            placeholder="Actions"
          >
            <el-option
              v-for="item in options"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            >
            </el-option>
          </el-select>
        </div>

        <div class="side-pannel-main">
          <el-collapse v-model="activeName">
            <el-collapse-item title="Details" name="1">
              <div class="details-form">
                <label class="assigne-label" for="asignee">Asignee</label>
                <el-select
                  v-model="assigneValue"
                  size="mini"
                  placeholder="Select"
                >
                  <el-option
                    id="asignee"
                    v-for="item in assignee"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value"
                  >
                    <span style="float: left"
                      ><img style="display: inline" :src="item.avatar" alt=""
                    /></span>
                    <span style="padding-left: 0.4rem">{{ item.label }}</span>
                  </el-option>
                </el-select>
              </div>
              <div class="details-form">
                <label class="assigne-label" for="asignee">Repoter</label>
                <el-select
                  v-model="assigneValue"
                  size="mini"
                  placeholder="Select"
                >
                  <el-option
                    id="asignee"
                    v-for="item in assignee"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value"
                  >
                    <span style="float: left"
                      ><img style="display: inline" :src="item.avatar" alt=""
                    /></span>
                    <span style="padding-left: 0.4rem">{{ item.label }}</span>
                  </el-option>
                </el-select>
              </div>
              <div class="details-form">
                <label class="assigne-label" for="asignee">QA Tester</label>
                <el-select
                  v-model="assigneValue"
                  size="mini"
                  placeholder="Select"
                >
                  <el-option
                    id="asignee"
                    v-for="item in assignee"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value"
                  >
                    <span style="float: left"
                      ><img style="display: inline" :src="item.avatar" alt=""
                    /></span>
                    <span style="padding-left: 0.4rem">{{ item.label }}</span>
                  </el-option>
                </el-select>
              </div>

              <div class="details-form">
                <label class="assigne-label" for="priority">Priority</label>
                <el-select
                  v-model="priorityValue"
                  size="mini"
                  placeholder="Select"
                >
                  <el-option
                    id="priority"
                    v-for="item in priority"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value"
                  >
                    <span>{{ item.label }}</span>
                  </el-option>
                </el-select>
              </div>

              <div class="details-form">
                <label class="assigne-label" for="priority">Sprint</label>
                <el-select
                  v-model="priorityValue"
                  size="mini"
                  placeholder="Select"
                >
                  <el-option
                    id="priority"
                    v-for="item in priority"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value"
                  >
                    <span>{{ item.label }}</span>
                  </el-option>
                </el-select>
              </div>

              <div class="details-form">
                <label class="assigne-label" for="label">Label</label>
                <el-select
                  v-model="priorityValue"
                  size="mini"
                  placeholder="Select"
                >
                  <el-option
                    id="label"
                    v-for="item in priority"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value"
                  >
                    <span>{{ item.label }}</span>
                  </el-option>
                </el-select>
              </div>

              <el-collapse v-model="activeNames">
                <el-collapse-item title="Release  " name="1">
                  <div class="details-form">
                    <label class="assigne-label">Start Date</label>
                    <el-date-picker
                      size="mini"
                      v-model="value1"
                      type="date"
                      placeholder="Pick a day"
                    >
                    </el-date-picker>
                  </div>

                  <div class="details-form">
                    <label class="assigne-label">Due Date</label>
                    <el-date-picker
                      size="mini"
                      v-model="value1"
                      type="date"
                      placeholder="Pick a day"
                    >
                    </el-date-picker>
                  </div>

                  <div class="details-form">
                    <label class="assigne-label">Fixed Version</label>
                    <el-input-number
                      v-model="num"
                      size="mini"
                      :step="0.1"
                      :max="10"
                    ></el-input-number>
                  </div>

                  <div class="details-form">
                    <label class="assigne-label">Affix Version</label>
                    <el-input-number
                      v-model="num"
                      size="mini"
                      :step="0.1"
                      :max="10"
                    ></el-input-number>
                  </div>
                </el-collapse-item>
              </el-collapse>
            </el-collapse-item>
            <el-collapse-item title="Automation" name="2">
              <div>
                Operation feedback: enable the users to clearly perceive their
                operations by style updates and interactive effects;
              </div>
              <div>
                Visual feedback: reflect current state by updating or
                rearranging elements of the page.
              </div>
            </el-collapse-item>
            <el-collapse-item title="Checklist" name="3">
              <div>
                Simplify the process: keep operating process simple and
                intuitive;
              </div>
              <div>
                Definite and clear: enunciate your intentions clearly so that
                the users can quickly understand and make decisions;
              </div>
              <div>
                Easy to identify: the interface should be straightforward, which
                helps the users to identify and frees them from memorizing and
                recalling.
              </div>
            </el-collapse-item>
          </el-collapse>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import SideBar from "../UI/SideBar.vue";
import { VueEditor } from "vue2-editor";
export default {
  components: {
    SideBar,
    VueEditor,
  },
  data() {
    return {
      content: "Write",
      isVisible: false,
      num: 1,
      // activeNames: "first",
      // activeName1: "first",
      value1: "",
      options: [
        {
          value: "Option1",
          label: "Development",
        },
        {
          value: "Option2",
          label: "In Progress",
        },
        {
          value: "Option3",
          label: "Deployment",
        },
        {
          value: "Option4",
          label: "Clear",
        },
        {
          value: "Option5",
          label: "Error",
        },
      ],
      value: "",
      assignee: [
        {
          value: "Yadnesh",
          label: "Yadnesh",
          avatar:
            "https://ui-avatars.com/api/?rounded=true&name=Y&background=44546f&color=fff&size=18",
        },
        {
          value: "Sumit",
          label: "Sumit",
          avatar:
            "https://ui-avatars.com/api/?rounded=true&name=S&background=4a900b&color=fff&size=18",
        },
        {
          value: "Chetan",
          label: "Chetan",
          avatar:
            "https://ui-avatars.com/api/?rounded=true&name=C&background=ca19e2&color=fff&size=18",
        },
        {
          value: "Krisha",
          label: "Krisha",
          avatar:
            "https://ui-avatars.com/api/?rounded=true&name=K&background=a16842&color=fff&size=18",
        },
        {
          value: "Mayur",
          label: "Mayur",
          avatar:
            "https://ui-avatars.com/api/?rounded=true&name=M&background=ec7abe&color=fff&size=18",
        },
        {
          value: "Snehal",
          label: "Snehal",
          avatar:
            "https://ui-avatars.com/api/?rounded=true&name=S&background=d1a422&color=fff&size=18",
        },
      ],
      priority: [
        {
          value: "low",
          label: "Low",
        },
        {
          value: "medium",
          label: "Medium",
        },
        {
          value: "high",
          label: "High",
        },
      ],
      assigneValue: "",
      priorityValue: "",
      activeNames: ["1"],
      activeName: ["1"],
    };
  },
  methods: {
    hideShow() {
      this.isVisible = !this.isVisible;
    },
    format(percentage) {
      return percentage === 100 ? "Done" : `${percentage}%`;
    },
    handleClick(tab, event) {
      console.log(tab, event);
    },
    handleSavingContent() {
      console.log(this.content);
    },
  },
};
</script>

<style lang="scss" scoped>
.wrap-container {
  display: flex;
  width: 100%;
}

.side-container {
  display: flex;
  flex-direction: column;
  width: 200px;
  border-right: 1px solid #091e4224;
  overflow: hidden;
  transition: all 0.2s ease-in;
}

.left-part,
.right-part {
  display: flex;
  flex-direction: column;
}

.left-part {
  width: 70%;
  padding-right: 0.5rem;
  margin-right: 1.5rem;
}

.right-part {
  width: 30%;
  height: 100px;
}

.main-content {
  display: flex;
  padding: 2rem 0.7rem;
  width: 100%;
}

.main-content-resize {
  width: calc(100% - 200px);
}

.show-hide {
  margin-top: 14rem;
  cursor: pointer;
}

.hide {
  width: 5px;
  transition: all 0.2s ease-out;
}

.ticket-title > h2 {
  font-weight: 700;
  margin-top: 1rem;
  font-size: 24px;
}

.btn-ticket {
  margin-top: 0.8rem;
}

.paperclip-icon {
  padding-right: 0.2rem;
}

.discription > p {
  padding-top: 1rem;
  font-weight: 600;
  font-size: 14px;
}

.activity > p {
  padding-top: 2rem;
  font-weight: 600;
  font-size: 14px;
}

.btn-save-cancel {
  padding-top: 0.3rem;
}

.progress {
  display: flex;
}

.table-content > td {
  padding: 0.5rem 0.125rem;
  padding-left: 0.4rem;
  font-size: 14px;
  border-bottom: 1px solid #091e4224;
}

.task-title {
  width: 20rem;
}

.table-avtar {
  margin-left: 3rem;
}

@media (min-width: 1024px) {
  #sample {
    place-items: center;
  }
}

.editor > tox-statusbar {
  display: none;
}

.comment-row > td {
  padding: 0.5rem 0.125rem;
  padding-left: 0.4rem;
}

.side-panel-icons {
  display: flex;
  justify-content: flex-end;
}

.side-panel-icons > div {
  margin: 0 0.5rem;
  cursor: pointer;
}

.side-pannel-dropdown {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.side-pannel-main {
  padding-left: 1rem;
  padding-top: 2rem;
}

.assigne-label {
  padding-right: 0.6rem;
  font-weight: 600;
}

.details-form {
  padding: 0.7rem 0rem;
}
</style>

<style lang="scss">
.side-pannel-main {
  .el-collapse-item__header {
    font-size: 18px;
    font-weight: 600;
  }
}
</style>
