<template>
  <div class="menu-list-wrapper">
    <!-- <div class="menu-list">
      <el-dropdown trigger="click">
        <span class="el-dropdown-link">
          Your Work<i class="el-icon-arrow-down el-icon--right"></i>
        </span>
        <el-dropdown-menu slot="dropdown">
          <el-dropdown-item icon="el-icon-plus">Action 1</el-dropdown-item>
          <el-dropdown-item icon="el-icon-circle-plus"
            >Action 2</el-dropdown-item
          >
          <el-dropdown-item icon="el-icon-circle-plus-outline"
            >Action 3</el-dropdown-item
          >
          <el-dropdown-item icon="el-icon-check">Action 4</el-dropdown-item>
          <el-dropdown-item icon="el-icon-circle-check"
            >Action 5</el-dropdown-item
          >
        </el-dropdown-menu>
      </el-dropdown>
    </div>

    <div
      class="menu-list"
      @click="isActiveList"
      @blur="isActiveList"
      :class="{ active: isActive }"
    >
      <el-dropdown trigger="click">
        <span class="el-dropdown-link">
          Projects<i class="el-icon-arrow-down el-icon--right"></i>
        </span>
        <el-dropdown-menu slot="dropdown">
          <el-dropdown-item icon="el-icon-plus">Action 1</el-dropdown-item>
          <el-dropdown-item icon="el-icon-circle-plus"
            >Action 2</el-dropdown-item
          >
          <el-dropdown-item icon="el-icon-circle-plus-outline"
            >Action 3</el-dropdown-item
          >
          <el-dropdown-item icon="el-icon-check">Action 4</el-dropdown-item>
          <el-dropdown-item icon="el-icon-circle-check"
            >Action 5</el-dropdown-item
          >
        </el-dropdown-menu>
      </el-dropdown>
    </div>

    <div class="menu-list">
      <el-dropdown trigger="click">
        <span class="el-dropdown-link">
          Filters<i class="el-icon-arrow-down el-icon--right"></i>
        </span>
        <el-dropdown-menu slot="dropdown">
          <el-dropdown-item icon="el-icon-plus">Action 1</el-dropdown-item>
          <el-dropdown-item icon="el-icon-circle-plus"
            >Action 2</el-dropdown-item
          >
          <el-dropdown-item icon="el-icon-circle-plus-outline"
            >Action 3</el-dropdown-item
          >
          <el-dropdown-item icon="el-icon-check">Action 4</el-dropdown-item>
          <el-dropdown-item icon="el-icon-circle-check"
            >Action 5</el-dropdown-item
          >
        </el-dropdown-menu>
      </el-dropdown>
    </div> -->

    <div class="menu-list">
      <el-dropdown trigger="click">
        <span class="el-dropdown-link">
          Dashboard<i class="el-icon-arrow-down el-icon--right"></i>
        </span>
        <el-dropdown-menu slot="dropdown">
          <el-dropdown-item icon="el-icon-plus">Action 1</el-dropdown-item>
          <el-dropdown-item icon="el-icon-circle-plus"
            >Action 2</el-dropdown-item
          >
          <el-dropdown-item icon="el-icon-circle-plus-outline"
            >Action 3</el-dropdown-item
          >
          <el-dropdown-item icon="el-icon-check">Action 4</el-dropdown-item>
          <el-dropdown-item icon="el-icon-circle-check"
            >Action 5</el-dropdown-item
          >
        </el-dropdown-menu>
      </el-dropdown>
    </div>

    <div class="menu-list">
      <el-dropdown trigger="click">
        <span class="el-dropdown-link">
          Teams<i class="el-icon-arrow-down el-icon--right"></i>
        </span>
        <el-dropdown-menu slot="dropdown">
          <el-dropdown-item icon="el-icon-plus">Action 1</el-dropdown-item>
          <el-dropdown-item icon="el-icon-circle-plus"
            >Action 2</el-dropdown-item
          >
          <el-dropdown-item icon="el-icon-circle-plus-outline"
            >Action 3</el-dropdown-item
          >
          <el-dropdown-item icon="el-icon-check">Action 4</el-dropdown-item>
          <el-dropdown-item icon="el-icon-circle-check"
            >Action 5</el-dropdown-item
          >
        </el-dropdown-menu>
      </el-dropdown>
    </div>

    <div class="menu-list">
      <el-dropdown trigger="click">
        <span class="el-dropdown-link">
          Apps<i class="el-icon-arrow-down el-icon--right"></i>
        </span>
        <el-dropdown-menu slot="dropdown">
          <el-dropdown-item icon="el-icon-plus">Action 1</el-dropdown-item>
          <el-dropdown-item icon="el-icon-circle-plus"
            >Action 2</el-dropdown-item
          >
          <el-dropdown-item icon="el-icon-circle-plus-outline"
            >Action 3</el-dropdown-item
          >
          <el-dropdown-item icon="el-icon-check">Action 4</el-dropdown-item>
          <el-dropdown-item icon="el-icon-circle-check"
            >Action 5</el-dropdown-item
          >
        </el-dropdown-menu>
      </el-dropdown>
    </div>

    <div class="menu-list">
      <el-button
        class="menu-button"
        size="small"
        type="primary"
        @click="dialogFormVisible = true"
        >Create</el-button
      >
      <el-dialog title="Create Issue" :visible.sync="dialogFormVisible">
        <div class="create-issue">
          <el-form :model="form" label-position="top">
            <!-- <el-form-item label="Promotion name" :label-width="formLabelWidth">
            <el-input v-model="form.name" autocomplete="off"></el-input>
          </el-form-item> -->
            <p>
              Required fields are marked with an asterisk
              <span style="color: red">*</span>
            </p>
            <br />

            <p style="padding-bottom: 0.3rem">
              Projects <span style="color: red">*</span>
            </p>

            <el-select
              v-model="form.project"
              placeholder="Please select Project *"
              style="width: 300px"
            >
              <el-option label="Project 1" value="p1"></el-option>
              <el-option label="Project 2" value="p2"></el-option>
            </el-select>

            <p style="padding-bottom: 0.3rem; padding-top: 0.4rem">
              Issue Type <span style="color: red">*</span>
            </p>

            <el-select
              v-model="form.issue"
              placeholder="Please select Project"
              style="padding-bottom: 0.6rem"
            >
              <el-option label="Task" value="task"></el-option>
              <el-option label="Bug" value="bug"></el-option>
              <el-option label="Feature" value="feature"></el-option>
              <el-option label="debug" value="debug"></el-option>
            </el-select>

            <hr />

            <p style="padding-bottom: 0.3rem; padding-top: 0.4rem">
              Status <span style="color: red">*</span>
            </p>

            <el-select
              v-model="form.status"
              placeholder="Please select Project"
              style="padding-bottom: 0.6rem"
            >
              <el-option label="Groomed" value="groomed"></el-option>
              <el-option label="In Process" value="inprogress"></el-option>
              <el-option label="Production" value="production"></el-option>
              <el-option label="Completed" value="completed"></el-option>
            </el-select>

            <p style="padding-bottom: 0.3rem; padding-top: 0.4rem">
              Summary <span style="color: red">*</span>
            </p>
            <el-input
              v-model="form.summary"
              placeholder="Enter Summary"
            ></el-input>

            <p style="padding-bottom: 0.3rem; padding-top: 0.4rem">
              Description
            </p>
            <div class="text-editor">
              <vue-editor v-model="content"></vue-editor>
            </div>
          </el-form>

          <div class="details-form">
            <div>
              <label class="assigne-label" for="asignee">Asignee</label>
              <el-select
                v-model="assigneValue"
                size="mini"
                placeholder="Select"
              >
                <el-option
                  id="asignee"
                  v-for="item in assignee"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value"
                >
                  <span style="float: left"
                    ><img style="display: inline" :src="item.avatar" alt=""
                  /></span>
                  <span style="padding-left: 0.4rem">{{ item.label }}</span>
                </el-option>
              </el-select>
            </div>

            <div>
              <label class="assigne-label" for="asignee">Asignee</label>
              <el-select
                v-model="reporterValue"
                size="mini"
                placeholder="Select"
              >
                <el-option
                  id="asignee"
                  v-for="item in assignee"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value"
                >
                  <span style="float: left"
                    ><img style="display: inline" :src="item.avatar" alt=""
                  /></span>
                  <span style="padding-left: 0.4rem">{{ item.label }}</span>
                </el-option>
              </el-select>
            </div>
          </div>

          <div class="due-date">
            <label class="assigne-label">Due Date</label>

            <el-date-picker
              size="mini"
              v-model="form.duedate"
              type="date"
              placeholder="Pick a day"
            >
            </el-date-picker>
          </div>
        </div>

        <span slot="footer" class="dialog-footer">
          <el-button type="info"
            ><router-link to="/create"> Expand</router-link></el-button
          >
          <el-button @click="dialogFormVisible = false">Cancel</el-button>
          <el-button type="primary" @click="dialogFormVisible = false"
            >Confirm</el-button
          >
        </span>
      </el-dialog>
    </div>
  </div>
</template>

<script>
import { VueEditor } from "vue2-editor";
export default {
  components: { VueEditor },
  data() {
    return {
      isActive: false,
      dialogTableVisible: false,
      dialogFormVisible: false,
      form: {
        project: "",
        issue: "",
        status: "",
        summary: "",
        duedate: "",
      },
      assigneValue: "",
      reporterValue: "",
      formLabelWidth: "90px",
      content: "",
      assignee: [
        {
          value: "Yadnesh",
          label: "Yadnesh",
          avatar:
            "https://ui-avatars.com/api/?rounded=true&name=Y&background=44546f&color=fff&size=18",
        },
        {
          value: "Sumit",
          label: "Sumit",
          avatar:
            "https://ui-avatars.com/api/?rounded=true&name=S&background=4a900b&color=fff&size=18",
        },
        {
          value: "Chetan",
          label: "Chetan",
          avatar:
            "https://ui-avatars.com/api/?rounded=true&name=C&background=ca19e2&color=fff&size=18",
        },
        {
          value: "Krisha",
          label: "Krisha",
          avatar:
            "https://ui-avatars.com/api/?rounded=true&name=K&background=a16842&color=fff&size=18",
        },
        {
          value: "Mayur",
          label: "Mayur",
          avatar:
            "https://ui-avatars.com/api/?rounded=true&name=M&background=ec7abe&color=fff&size=18",
        },
        {
          value: "Snehal",
          label: "Snehal",
          avatar:
            "https://ui-avatars.com/api/?rounded=true&name=S&background=d1a422&color=fff&size=18",
        },
      ],
    };
  },
  methods: {
    isActiveList() {
      this.isActive = !this.isActive;
    },
  },
};
</script>

<style scoped>
.menu-list-wrapper {
  display: flex;
  font-weight: 500;
  color: #44546f;
}
.menu-list {
  display: block;
  padding: 0.3rem 12px;
  align-self: center;
  font-weight: 500;
}

.el-dropdown-link {
  cursor: pointer;
}
.el-icon-arrow-down {
  font-size: 12px;
}
.demonstration {
  display: block;
  color: #8492a6;
  font-size: 14px;
  margin-bottom: 20px;
}
.active {
  border-bottom: 2px solid blue;
}

.menu-button > .menu-button {
  color: white;
}

.create-issue {
  height: 55vh;
  overflow-x: hidden;
}

.details-form {
  padding-top: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.assigne-label {
  padding-right: 0.6rem;
  /* font-weight: 600; */
}
.due-date {
  display: flex;
  justify-content: center;
  padding-top: 0.5rem;
}
</style>
